@import "variable";
.card{
    width: 75%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    h1{
        text-align: center;
    }
}
@mixin image-position($top:0%, $left:50%) {
    position: absolute;
    top:$top;
    left:$left;
    transform: translateX(-50%);
}
.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-pattern-mobile.svg");
    height: 100%;
    background-position:top center;
    background-repeat: no-repeat;
    // background-size: cover;
    // border:1px solid;
    .mobile-img{
        position: relative;
        transform: translate(-5%,-55%);
    }
    .desktop-img{
        display: none;
    }
}
.card-faq{
    padding: 0 20px 20px;
    // border:1px solid;
    transform: translateY(-50px);
}
.summary-answer p{
    color: $answer-color;
    font-size:$default-font-size;
    margin: 0;
    padding-top: 20px;
}
details {
    cursor: pointer;
    color: $dark-blue;
    padding:10px 0;
    &:hover{
        color: $Soft-red;
    }
    > summary{
        display: flex;
        justify-content: space-between;
        list-style: none;
        &::after{
            content: url(./images/icon-arrow-down.svg);
        }
        &::-webkit-details-marker{
            display: none;
        }
    }
}
details[open] > summary{
    font-weight: 700;
    &::after{
        transform: rotate(180deg);
    }
}
hr{
    color: $divider-color;
}
  
.box{
    display: none;
}

@media (min-width:768px){
    .card{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        > div{
            width: 100%;
        }
        h1{
            text-align: left;
        }
    }
    .card-faq{
        transform: translateY(0);
    }
    .card-img{
        padding: 50px 0;
        background-image: url("./images/bg-pattern-desktop.svg");
        background-position: bottom -100px left -250px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        .desktop-img{
            display: block;
            transform: translateX(-200px);

        }
        .mobile-img{
            display: none;
        }
    }
    .box{
        display: block;
        position: absolute;
        left: -100px;
        top:200px;
        z-index: 22;
    }
}